# Visual Studio
.vs/
*.user
*.suo
*.cache
*.log

# Build
bin/
obj/

# Others
*.dbmdl
*.jfm
appsettings.json
appsettings.*.json
secrets/
InteliRoute/secrets/
**/secrets/
logs/
**/obj/
**/bin/
.vscode/
InteliRoute/secrets/
**/secrets/
appsettings.json
appsettings.*.json
logs/
**/obj/
**/bin/
.vs/
.vscode/
InteliRoute/secrets/
**/secrets/
appsettings.json
appsettings.*.json
